.card {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 400px;
    background: rgb(175, 44, 77);
}
.photo {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}